In [7]:
import pandas as pd

In [8]:
#importing csv
gen_min_py = pd.read_csv("gen_min_py.csv")
cox_d_py = pd.read_csv("cox_d_py.csv")

In [11]:
gen_min_py

,Unnamed: 0,idauniq,ragender,rabyear,r1agey,r2agey,r3agey,r4agey,r5agey,r6agey,...,fraill5,fraill6,fraill7,h1atotb,h2atotb,h3atotb,h4atotb,h5atotb,h6atotb,h7atotb
0,1,100001,1,1951.0,NaN,52.0,54.0,57.0,59.0,NaN,...,0.053659,NaN,0.104651,NaN,-9522.0,-6552.0,-22985.0,-12350.0,NaN,-5585.0
1,2,100005,1,1947.0,NaN,NaN,NaN,NaN,64.0,NaN,...,0.030492,NaN,NaN,NaN,NaN,NaN,NaN,152500.0,NaN,NaN
2,3,100006,1,1951.0,NaN,NaN,NaN,57.0,59.0,61.0,...,0.407018,0.265167,NaN,NaN,NaN,NaN,139100.0,192000.0,186000.0,NaN
3,4,100007,1,1948.0,NaN,56.0,58.0,60.0,62.0,64.0,...,0.080806,0.086667,0.073333,NaN,174500.0,229580.0,164865.0,171500.0,198000.0,267200.0
4,5,100009,1,1940.0,NaN,NaN,66.0,68.0,70.0,72.0,...,0.131452,0.069167,0.063000,NaN,NaN,241700.0,256500.0,256000.0,236000.0,410000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18484,18485,705927,2,1948.0,NaN,NaN,NaN,60.0,62.0,64.0,...,0.110645,0.071833,0.100500,NaN,NaN,NaN,433000.0,280100.0,241600.0,279500.0
18485,18486,706571,2,1940.0,NaN,NaN,NaN,NaN,70.0,72.0,...,0.027419,0.036667,NaN,NaN,NaN,NaN,NaN,1763710.0,836005.0,NaN
18486,18487,801087,1,1944.0,NaN,NaN,NaN,64.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18487,18488,900006,2,1946.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.044186,NaN,NaN,NaN,NaN,NaN,NaN,1695100.0
18488,18489,900034,2,1961.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.015854,NaN,NaN,NaN,NaN,NaN,NaN,426220.0

In [6]:
cox_d_py

,Unnamed: 0,idauniq,ragender,r1agey,r2agey,r3agey,r4agey,r5agey,r6agey,r7agey
0,1,100001,1,51.0,53.0,55.0,57.0,59.0,61.0,63.0
1,2,100005,1,55.0,57.0,59.0,61.0,63.0,65.0,67.0
2,3,100006,1,51.0,53.0,55.0,57.0,59.0,61.0,63.0
3,4,100007,1,54.0,56.0,58.0,60.0,62.0,64.0,66.0
4,5,100009,1,62.0,64.0,66.0,68.0,70.0,72.0,74.0
...,...,...,...,...,...,...,...,...,...,...
18484,18485,705927,2,54.0,56.0,58.0,60.0,62.0,64.0,66.0
18485,18486,706571,2,62.0,64.0,66.0,68.0,70.0,72.0,74.0
18486,18487,801087,1,58.0,60.0,62.0,64.0,66.0,68.0,70.0
18487,18488,900006,2,56.0,58.0,60.0,62.0,64.0,66.0,68.0
18488,18489,900034,2,41.0,43.0,45.0,47.0,49.0,51.0,53.0

In [7]:
#creating dummy dataset
gen_min_py_d1 = gen_min_py_d = gen_min_py

In [8]:
#fill na with 0 for frailty
gen_min_py_d["fraill1"] = gen_min_py_d["fraill1"].fillna(value=0)
gen_min_py_d["fraill2"] = gen_min_py_d["fraill2"].fillna(value=0)
gen_min_py_d["fraill3"] = gen_min_py_d["fraill3"].fillna(value=0)
gen_min_py_d["fraill4"] = gen_min_py_d["fraill4"].fillna(value=0)
gen_min_py_d["fraill5"] = gen_min_py_d["fraill5"].fillna(value=0)
gen_min_py_d["fraill6"] = gen_min_py_d["fraill6"].fillna(value=0)
gen_min_py_d["fraill7"] = gen_min_py_d["fraill7"].fillna(value=0)

In [9]:
#filling na with 0 for wealth
gen_min_py_d1["h1atotb"] = gen_min_py_d1["h1atotb"].fillna(value=0)
gen_min_py_d1["h2atotb"] = gen_min_py_d1["h2atotb"].fillna(value=0)
gen_min_py_d1["h3atotb"] = gen_min_py_d1["h3atotb"].fillna(value=0)
gen_min_py_d1["h4atotb"] = gen_min_py_d1["h4atotb"].fillna(value=0)
gen_min_py_d1["h5atotb"] = gen_min_py_d1["h5atotb"].fillna(value=0)
gen_min_py_d1["h6atotb"] = gen_min_py_d1["h6atotb"].fillna(value=0)
gen_min_py_d1["h7atotb"] = gen_min_py_d1["h7atotb"].fillna(value=0)

In [10]:
#creating column for mean of wealth
for index, row in gen_min_py_d.iterrows():
    gen_min_py_d1.loc[index,'wealth_m'] = ((gen_min_py_d1.loc[index,'h1atotb']+gen_min_py_d1.loc[index,'h2atotb']+gen_min_py_d1.loc[index,'h3atotb']+gen_min_py_d1.loc[index,'h4atotb']+gen_min_py_d1.loc[index,'h5atotb']+gen_min_py_d1.loc[index,'h6atotb']+gen_min_py_d1.loc[index,'h7atotb'])/7)

In [11]:
#filling na of wealth column with mean of wealth
for index, row in gen_min_py_d.iterrows():
    wealth_m = gen_min_py_d1.loc[index,'wealth_m']
    if(gen_min_py_d1.loc[index,'h1atotb'] == 0):
        gen_min_py_d1.loc[index,'h1atotb'] = wealth_m
    if(gen_min_py_d1.loc[index,'h2atotb'] == 0):
        gen_min_py_d1.loc[index,'h2atotb'] = wealth_m
    if(gen_min_py_d1.loc[index,'h3atotb'] == 0):
        gen_min_py_d1.loc[index,'h3atotb'] = wealth_m
    if(gen_min_py_d1.loc[index,'h4atotb'] == 0):
        gen_min_py_d1.loc[index,'h4atotb'] = wealth_m
    if(gen_min_py_d1.loc[index,'h5atotb'] == 0):
        gen_min_py_d1.loc[index,'h5atotb'] = wealth_m
    if(gen_min_py_d1.loc[index,'h6atotb'] == 0):
        gen_min_py_d1.loc[index,'h6atotb'] = wealth_m
    if(gen_min_py_d1.loc[index,'h7atotb'] == 0):
        gen_min_py_d1.loc[index,'h7atotb'] = wealth_m

In [12]:
gen_min_py_d1.head()

,Unnamed: 0,idauniq,ragender,rabyear,r1agey,r2agey,r3agey,r4agey,r5agey,r6agey,...,fraill6,fraill7,h1atotb,h2atotb,h3atotb,h4atotb,h5atotb,h6atotb,h7atotb,wealth_m
0,1,100001,1,1951.0,NaN,52.0,54.0,57.0,59.0,NaN,...,0.000000,0.104651,-8142.000000,-9522.000000,-6552.000000,-22985.000000,-12350.0,-8142.000000,-5585.000000,-8142.000000
1,2,100005,1,1947.0,NaN,NaN,NaN,NaN,64.0,NaN,...,0.000000,0.000000,21785.714286,21785.714286,21785.714286,21785.714286,152500.0,21785.714286,21785.714286,21785.714286
2,3,100006,1,1951.0,NaN,NaN,NaN,57.0,59.0,61.0,...,0.265167,0.000000,73871.428571,73871.428571,73871.428571,139100.000000,192000.0,186000.000000,73871.428571,73871.428571
3,4,100007,1,1948.0,NaN,56.0,58.0,60.0,62.0,64.0,...,0.086667,0.073333,172235.000000,174500.000000,229580.000000,164865.000000,171500.0,198000.000000,267200.000000,172235.000000
4,5,100009,1,1940.0,NaN,NaN,66.0,68.0,70.0,72.0,...,0.069167,0.063000,200028.571429,200028.571429,241700.000000,256500.000000,256000.0,236000.000000,410000.000000,200028.571429

In [13]:
#creating columns ( status, time, age, wealth)
for index, row in gen_min_py_d.iterrows():
    if(gen_min_py_d.loc[index,'fraill1'] > 0.15 and gen_min_py_d.loc[index,'fraill1'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r1agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h1atotb']
        #cox_d_py.loc[index,'fraill_s'] = gen_min_py_d.loc[index,'fraill1']
        if gen_min_py_d.loc[index,'fraill2'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 2
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r2agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h2atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill3'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 4
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r3agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h3atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill4'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 6
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r4agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h4atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill5'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 8
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r5agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h5atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill6'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 10
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r6agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h6atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill7'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 12
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r7agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h7atotb']
            continue
        else:
            if gen_min_py_d.loc[index,'fraill7'] != 0:
                cox_d_py.loc[index,'time'] = 12
                continue
            elif gen_min_py_d.loc[index,'fraill6'] != 0:
                cox_d_py.loc[index,'time'] = 10
                continue
            elif gen_min_py_d.loc[index,'fraill5'] != 0:
                cox_d_py.loc[index,'time'] = 8
                continue
            elif gen_min_py_d.loc[index,'fraill4'] != 0:
                cox_d_py.loc[index,'time'] = 6
                continue
            elif gen_min_py_d.loc[index,'fraill3'] != 0:
                cox_d_py.loc[index,'time'] = 4
                continue
            elif gen_min_py_d.loc[index,'fraill2'] != 0:
                cox_d_py.loc[index,'time'] = 2
                continue
        continue
    elif (gen_min_py_d.loc[index,'fraill2'] > 0.15 and gen_min_py_d.loc[index,'fraill2'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r2agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h2atotb']
        if gen_min_py_d.loc[index,'fraill3'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 2
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r3agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h3atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill4'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 4
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r4agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h4atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill5'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 6
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r5agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h5atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill6'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 8
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r6agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h6atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill7'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 10
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r7agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h7atotb']
            continue
        else:
            if gen_min_py_d.loc[index,'fraill7'] != 0:
                cox_d_py.loc[index,'time'] = 10
                continue
            elif gen_min_py_d.loc[index,'fraill6'] != 0:
                cox_d_py.loc[index,'time'] = 8
                continue
            elif gen_min_py_d.loc[index,'fraill5'] != 0:
                cox_d_py.loc[index,'time'] = 6
                continue
            elif gen_min_py_d.loc[index,'fraill4'] != 0:
                cox_d_py.loc[index,'time'] = 4
                continue
            elif gen_min_py_d.loc[index,'fraill3'] != 0:
                cox_d_py.loc[index,'time'] = 2
                continue
        continue
    elif (gen_min_py_d.loc[index,'fraill3'] > 0.15 and gen_min_py_d.loc[index,'fraill3'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r3agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h3atotb']
        if gen_min_py_d.loc[index,'fraill4'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 2
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r4agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h4atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill5'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 4
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r5agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h5atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill6'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 6
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r6agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h6atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill7'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 8
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r7agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h7atotb']
            continue
        else:
            if gen_min_py_d.loc[index,'fraill7'] != 0:
                cox_d_py.loc[index,'time'] = 8
                continue
            elif gen_min_py_d.loc[index,'fraill6'] != 0:
                cox_d_py.loc[index,'time'] = 6
                continue
            elif gen_min_py_d.loc[index,'fraill5'] != 0:
                cox_d_py.loc[index,'time'] = 4
                continue
            elif gen_min_py_d.loc[index,'fraill4'] != 0:
                cox_d_py.loc[index,'time'] = 2
                continue
        continue
    elif (gen_min_py_d.loc[index,'fraill4'] > 0.15 and gen_min_py_d.loc[index,'fraill4'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r4agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h4atotb']
        if gen_min_py_d.loc[index,'fraill5'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 2
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r5agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h5atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill6'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 4
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r6agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h6atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill7'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 6
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r7agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h7atotb']
            continue
        else:
            if gen_min_py_d.loc[index,'fraill7'] != 0:
                cox_d_py.loc[index,'time'] = 6
                continue
            elif gen_min_py_d.loc[index,'fraill6'] != 0:
                cox_d_py.loc[index,'time'] = 4
                continue
            elif gen_min_py_d.loc[index,'fraill5'] != 0:
                cox_d_py.loc[index,'time'] = 2
                continue
        continue
    elif (gen_min_py_d.loc[index,'fraill5'] > 0.15 and gen_min_py_d.loc[index,'fraill5'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r5agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h5atotb']
        if gen_min_py_d.loc[index,'fraill6'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 2
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r6agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h6atotb']
            continue
        elif gen_min_py_d.loc[index,'fraill7'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 4
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r7agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h7atotb']
            continue
        else:
            if gen_min_py_d.loc[index,'fraill7'] != 0:
                cox_d_py.loc[index,'time'] = 4
                continue
            elif gen_min_py_d.loc[index,'fraill6'] != 0:
                cox_d_py.loc[index,'time'] = 2
                continue
        continue
    elif (gen_min_py_d.loc[index,'fraill6'] > 0.15 and gen_min_py_d.loc[index,'fraill6'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r6agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h6atotb']
        if gen_min_py_d.loc[index,'fraill7'] >= 0.25:
            cox_d_py.loc[index,'status'] = 2
            cox_d_py.loc[index,'time'] = 2
            cox_d_py.loc[index,'age_f'] = cox_d_py.loc[index,'r7agey']
            cox_d_py.loc[index,'wealth_f'] = gen_min_py_d1.loc[index,'h7atotb']
            continue
        else:
            if gen_min_py_d.loc[index,'fraill7'] != 0:
                cox_d_py.loc[index,'time'] = 2
                continue
        continue
    elif (gen_min_py_d.loc[index,'fraill7'] > 0.15 and gen_min_py_d.loc[index,'fraill7'] < 0.25):
        cox_d_py.loc[index,'status'] = 1
        cox_d_py.loc[index,'time'] = 0
        cox_d_py.loc[index,'age_v'] = cox_d_py.loc[index,'r7agey']
        cox_d_py.loc[index,'wealth_v'] = gen_min_py_d1.loc[index,'h7atotb']
        continue

In [14]:
gen_min_py.head(40)

,Unnamed: 0,idauniq,ragender,rabyear,r1agey,r2agey,r3agey,r4agey,r5agey,r6agey,...,fraill6,fraill7,h1atotb,h2atotb,h3atotb,h4atotb,h5atotb,h6atotb,h7atotb,wealth_m
0,1,100001,1,1951.0,NaN,52.0,54.0,57.0,59.0,NaN,...,0.000000,0.104651,-8142.000000,-9522.000000,-6552.000000,-2.298500e+04,-1.235000e+04,-8142.000000,-5585.000000,-8142.000000
1,2,100005,1,1947.0,NaN,NaN,NaN,NaN,64.0,NaN,...,0.000000,0.000000,21785.714286,21785.714286,21785.714286,2.178571e+04,1.525000e+05,21785.714286,21785.714286,21785.714286
2,3,100006,1,1951.0,NaN,NaN,NaN,57.0,59.0,61.0,...,0.265167,0.000000,73871.428571,73871.428571,73871.428571,1.391000e+05,1.920000e+05,186000.000000,73871.428571,73871.428571
3,4,100007,1,1948.0,NaN,56.0,58.0,60.0,62.0,64.0,...,0.086667,0.073333,172235.000000,174500.000000,229580.000000,1.648650e+05,1.715000e+05,198000.000000,267200.000000,172235.000000
4,5,100009,1,1940.0,NaN,NaN,66.0,68.0,70.0,72.0,...,0.069167,0.063000,200028.571429,200028.571429,241700.000000,2.565000e+05,2.560000e+05,236000.000000,410000.000000,200028.571429
5,6,100010,1,1937.0,NaN,NaN,NaN,70.0,NaN,NaN,...,0.000000,0.000000,52142.857143,52142.857143,52142.857143,3.650000e+05,5.214286e+04,52142.857143,52142.857143,52142.857143
6,7,100012,1,1947.0,NaN,NaN,58.0,60.0,62.0,NaN,...,0.000000,0.000000,623142.857143,623142.857143,880500.000000,1.479500e+06,2.002000e+06,623142.857143,623142.857143,623142.857143
7,8,100016,2,1952.0,NaN,NaN,55.0,56.0,NaN,NaN,...,0.000000,0.000000,49854.428571,49854.428571,135700.000000,2.132810e+05,4.985443e+04,49854.428571,49854.428571,49854.428571
8,9,100018,1,1954.0,NaN,50.0,52.0,NaN,NaN,NaN,...,0.000000,0.000000,2157.142857,15000.000000,100.000000,2.157143e+03,2.157143e+03,2157.142857,2157.142857,2157.142857
9,10,100021,2,1950.0,NaN,54.0,56.0,NaN,60.0,62.0,...,0.027907,0.000000,442900.000000,514000.000000,636000.000000,4.429000e+05,1.125000e+06,825300.000000,442900.000000,442900.000000
10,11,100023,2,1959.0,NaN,NaN,NaN,NaN,51.0,53.0,...,0.040244,0.010976,72657.142857,72657.142857,72657.142857,7.265714e+04,1.575000e+05,160500.000000,190600.000000,72657.142857
11,12,100024,1,1929.0,NaN,NaN,77.0,79.0,81.0,NaN,...,0.000000,0.000000,88798.285714,88798.285714,232000.000000,1.830880e+05,2.065000e+05,88798.285714,88798.285714,88798.285714
12,13,100025,1,1931.0,NaN,NaN,75.0,77.0,79.0,81.0,...,0.054167,0.106667,356229.428571,356229.428571,534100.000000,3.562294e+05,8.250000e+05,559000.000000,575506.000000,356229.428571
13,14,100026,1,1942.0,NaN,NaN,NaN,66.0,68.0,70.0,...,0.106000,0.194333,207572.000000,207572.000000,207572.000000,2.275110e+05,2.825000e+05,482693.000000,460300.000000,207572.000000
14,15,100029,2,1950.0,NaN,55.0,56.0,58.0,60.0,NaN,...,0.000000,0.078333,270476.428571,292015.000000,320005.000000,5.395050e+05,3.778050e+05,270476.428571,364005.000000,270476.428571
15,16,100031,1,1941.0,NaN,NaN,NaN,NaN,69.0,NaN,...,0.000000,0.102500,-24.000000,-24.000000,-24.000000,-2.400000e+01,-1.700000e+02,-24.000000,2.000000,-24.000000
16,17,100032,2,1932.0,NaN,NaN,NaN,76.0,78.0,80.0,...,0.077778,0.000000,375314.285714,375314.285714,375314.285714,1.122000e+06,9.572000e+05,548000.000000,375314.285714,375314.285714
17,18,100035,2,1935.0,67.0,69.0,NaN,NaN,NaN,NaN,...,0.000000,0.000000,397000.000000,282000.000000,97000.000000,9.700000e+04,9.700000e+04,97000.000000,97000.000000,97000.000000
18,19,100036,2,1948.0,53.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,27500.000000,3928.571429,3928.571429,3.928571e+03,3.928571e+03,3928.571429,3928.571429,3928.571429
19,20,100037,2,1934.0,68.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,503000.000000,71857.142857,71857.142857,7.185714e+04,7.185714e+04,71857.142857,71857.142857,71857.142857
20,21,100038,2,1937.0,64.0,67.0,NaN,NaN,NaN,NaN,...,0.000000,0.000000,71000.000000,247000.000000,45428.571429,4.542857e+04,4.542857e+04,45428.571429,45428.571429,45428.571429
21,22,100039,1,1948.0,53.0,55.0,57.0,59.0,61.0,63.0,...,0.432500,0.525000,156605.000000,252700.000000,280700.000000,2.254000e+05,8.760000e+04,216500.000000,247200.000000,209529.285714
22,23,100040,2,1954.0,48.0,50.0,52.0,NaN,NaN,NaN,...,0.000000,0.000000,408000.000000,190010.000000,223000.000000,1.172871e+05,1.172871e+05,117287.142857,117287.142857,117287.142857
23,24,100041,1,1931.0,70.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,584998.000000,83571.142857,83571.142857,8.357114e+04,8.357114e+04,83571.142857,83571.142857,83571.142857
24,25,100042,2,1934.0,67.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,47605.000000,6800.714286,6800.714286,6.800714e+03,6.800714e+03,6800.714286,6800.714286,6800.714286
25,26,100043,2,1950.0,52.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,352520.000000,50360.000000,50360.000000,5.036000e+04,5.036000e+04,50360.000000,50360.000000,50360.000000
26,27,100044,1,1929.0,72.0,75.0,76.0,79.0,NaN,NaN,...,0.000000,0.000000,24112.000000,33000.000000,-41200.000000,-3.019200e+04,-2.040000e+03,-2040.000000,-2040.000000,-2040.000000
27,28,100045,2,1935.0,66.0,NaN,NaN,73.0,NaN,NaN,...,0.000000,0.000000,2600.000000,-321.428571,-321.428571,-4.850000e+03,-3.214286e+02,-321.428571,-321.428571,-321.428571
28,29,100046,2,1972.0,30.0,32.0,34.0,36.0,38.0,NaN,...,0.000000,0.116071,602000.000000,419989.000000,487000.000000,6.259200e+05,6.212000e+05,530229.857143,955500.000000,530229.857143
29,30,100047,1,1939.0,63.0,65.0,67.0,69.0,71.0,NaN,...,0.000000,0.351695,82500.000000,40700.000000,64000.000000,1.555000e+05,4.700000e+04,65814.285714,71000.000000,65814.285714
30,31,100048,2,1968.0,34.0,36.0,38.0,40.0,42.0,44.0,...,0.095536,0.102857,-8450.000000,-4700.000000,-14000.000000,-1.100000e+04,-4.800000e+03,1000.000000,2000.000000,-5707.142857
31,32,100049,1,1945.0,57.0,NaN,NaN,64.0,65.0,67.0,...,0.157500,0.000000,141000.000000,99785.714286,99785.714286,1.711000e+05,2.084000e+05,178000.000000,99785.714286,99785.714286
32,33,100050,2,1969.0,33.0,35.0,37.0,39.0,41.0,43.0,...,0.133929,0.102679,166603.000000,275408.000000,336591.000000,1.350130e+05,-1.280000e+04,175200.000000,352010.000000,204003.571429
33,34,100051,2,1957.0,44.0,NaN,NaN,NaN,NaN,NaN,...,0.000000,0.000000,345200.000000,49314.285714,49314.285714,4.931429e+04,4.931429e+04,49314.285714,49314.285714,49314.285714
34,35,100052,2,1951.0,51.0,53.0,55.0,57.0,59.0,61.0,...,0.066667,0.050000,19700.000000,19150.000000,16350.000000,2.080000e+05,1.916000e+05,38000.000000,10950.000000,71964.285714
35,36,100053,1,1959.0,43.0,45.0,NaN,NaN,NaN,NaN,...,0.000000,0.000000,54542.000000,-27794.000000,3821.142857,3.821143e+03,3.821143e+03,3821.142857,3821.142857,3821.142857
36,37,100054,1,1949.0,53.0,55.0,57.0,59.0,62.0,64.0,...,0.301667,0.114655,58852.000000,78920.000000,98796.000000,6.500000e+04,1.551040e+05,167353.000000,285000.000000,129860.714286
37,38,100055,1,1946.0,56.0,58.0,60.0,62.0,64.0,66.0,...,0.073333,0.053333,45011.000000,94600.000000,79900.000000,9.820000e+04,1.292300e+05,-1000.000000,-500.000000,63634.428571
38,39,100056,2,1946.0,56.0,58.0,60.0,NaN,NaN,NaN,...,0.000000,0.000000,295000.000000,710000.000000,992000.000000,2.852857e+05,2.852857e+05,285285.714286,285285.714286,285285.714286
39,40,100057,2,1947.0,55.0,57.0,59.0,61.0,63.0,64.0,...,0.096333,0.067167,209255.000000,253990.000000,252650.000000,2.601000e+05,2.332200e+05,295202.000000,347474.000000,264555.857143

In [15]:
cox_d_py.head(40)

,Unnamed: 0,idauniq,ragender,r1agey,r2agey,r3agey,r4agey,r5agey,r6agey,r7agey,status,time,age_v,wealth_v,age_f,wealth_f
0,1,100001,1,51.0,53.0,55.0,57.0,59.0,61.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2,100005,1,55.0,57.0,59.0,61.0,63.0,65.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN
2,3,100006,1,51.0,53.0,55.0,57.0,59.0,61.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN
3,4,100007,1,54.0,56.0,58.0,60.0,62.0,64.0,66.0,1.0,8.0,58.0,229580.0,NaN,NaN
4,5,100009,1,62.0,64.0,66.0,68.0,70.0,72.0,74.0,NaN,NaN,NaN,NaN,NaN,NaN
5,6,100010,1,65.0,67.0,69.0,71.0,73.0,75.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,100012,1,55.0,57.0,59.0,61.0,63.0,65.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN
7,8,100016,2,50.0,52.0,54.0,56.0,58.0,60.0,62.0,1.0,2.0,54.0,135700.0,NaN,NaN
8,9,100018,1,48.0,50.0,52.0,54.0,56.0,58.0,60.0,1.0,2.0,50.0,15000.0,NaN,NaN
9,10,100021,2,52.0,54.0,56.0,58.0,60.0,62.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
10,11,100023,2,43.0,45.0,47.0,49.0,51.0,53.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
11,12,100024,1,73.0,75.0,77.0,79.0,81.0,83.0,85.0,1.0,2.0,79.0,183088.0,NaN,NaN
12,13,100025,1,71.0,73.0,75.0,77.0,79.0,81.0,83.0,1.0,8.0,75.0,534100.0,NaN,NaN
13,14,100026,1,60.0,62.0,64.0,66.0,68.0,70.0,72.0,1.0,6.0,66.0,227511.0,NaN,NaN
14,15,100029,2,52.0,54.0,56.0,58.0,60.0,62.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
15,16,100031,1,61.0,63.0,65.0,67.0,69.0,71.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN
16,17,100032,2,70.0,72.0,74.0,76.0,78.0,80.0,82.0,NaN,NaN,NaN,NaN,NaN,NaN
17,18,100035,2,67.0,69.0,71.0,73.0,75.0,77.0,79.0,2.0,2.0,67.0,397000.0,69.0,282000.0
18,19,100036,2,54.0,56.0,58.0,60.0,62.0,64.0,66.0,NaN,NaN,NaN,NaN,NaN,NaN
19,20,100037,2,68.0,70.0,72.0,74.0,76.0,78.0,80.0,NaN,NaN,NaN,NaN,NaN,NaN
20,21,100038,2,65.0,67.0,69.0,71.0,73.0,75.0,77.0,NaN,NaN,NaN,NaN,NaN,NaN
21,22,100039,1,54.0,56.0,58.0,60.0,62.0,64.0,66.0,2.0,4.0,54.0,156605.0,58.0,280700.0
22,23,100040,2,48.0,50.0,52.0,54.0,56.0,58.0,60.0,NaN,NaN,NaN,NaN,NaN,NaN
23,24,100041,1,71.0,73.0,75.0,77.0,79.0,81.0,83.0,NaN,NaN,NaN,NaN,NaN,NaN
24,25,100042,2,68.0,70.0,72.0,74.0,76.0,78.0,80.0,1.0,0.0,68.0,47605.0,NaN,NaN
25,26,100043,2,52.0,54.0,56.0,58.0,60.0,62.0,64.0,NaN,NaN,NaN,NaN,NaN,NaN
26,27,100044,1,73.0,75.0,77.0,79.0,81.0,83.0,85.0,1.0,4.0,75.0,33000.0,NaN,NaN
27,28,100045,2,67.0,69.0,71.0,73.0,75.0,77.0,79.0,NaN,NaN,NaN,NaN,NaN,NaN
28,29,100046,2,30.0,32.0,34.0,36.0,38.0,40.0,42.0,NaN,NaN,NaN,NaN,NaN,NaN
29,30,100047,1,63.0,65.0,67.0,69.0,71.0,73.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN
30,31,100048,2,34.0,36.0,38.0,40.0,42.0,44.0,46.0,NaN,NaN,NaN,NaN,NaN,NaN
31,32,100049,1,57.0,59.0,61.0,63.0,65.0,67.0,69.0,1.0,4.0,63.0,171100.0,NaN,NaN
32,33,100050,2,33.0,35.0,37.0,39.0,41.0,43.0,45.0,NaN,NaN,NaN,NaN,NaN,NaN
33,34,100051,2,45.0,47.0,49.0,51.0,53.0,55.0,57.0,NaN,NaN,NaN,NaN,NaN,NaN
34,35,100052,2,51.0,53.0,55.0,57.0,59.0,61.0,63.0,NaN,NaN,NaN,NaN,NaN,NaN
35,36,100053,1,43.0,45.0,47.0,49.0,51.0,53.0,55.0,NaN,NaN,NaN,NaN,NaN,NaN
36,37,100054,1,53.0,55.0,57.0,59.0,61.0,63.0,65.0,2.0,8.0,55.0,78920.0,63.0,167353.0
37,38,100055,1,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,12.0,56.0,45011.0,NaN,NaN
38,39,100056,2,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,4.0,56.0,295000.0,NaN,NaN
39,40,100057,2,55.0,57.0,59.0,61.0,63.0,65.0,67.0,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
#to get only rows with no null value
cox_d_fpy = cox_d_py[~cox_d_py['time'].isnull()]

In [17]:
cox_d_fpy.head(40)

,Unnamed: 0,idauniq,ragender,r1agey,r2agey,r3agey,r4agey,r5agey,r6agey,r7agey,status,time,age_v,wealth_v,age_f,wealth_f
3,4,100007,1,54.0,56.0,58.0,60.0,62.0,64.0,66.0,1.0,8.0,58.0,229580.000000,NaN,NaN
7,8,100016,2,50.0,52.0,54.0,56.0,58.0,60.0,62.0,1.0,2.0,54.0,135700.000000,NaN,NaN
8,9,100018,1,48.0,50.0,52.0,54.0,56.0,58.0,60.0,1.0,2.0,50.0,15000.000000,NaN,NaN
11,12,100024,1,73.0,75.0,77.0,79.0,81.0,83.0,85.0,1.0,2.0,79.0,183088.000000,NaN,NaN
12,13,100025,1,71.0,73.0,75.0,77.0,79.0,81.0,83.0,1.0,8.0,75.0,534100.000000,NaN,NaN
13,14,100026,1,60.0,62.0,64.0,66.0,68.0,70.0,72.0,1.0,6.0,66.0,227511.000000,NaN,NaN
17,18,100035,2,67.0,69.0,71.0,73.0,75.0,77.0,79.0,2.0,2.0,67.0,397000.000000,69.0,282000.0
21,22,100039,1,54.0,56.0,58.0,60.0,62.0,64.0,66.0,2.0,4.0,54.0,156605.000000,58.0,280700.0
24,25,100042,2,68.0,70.0,72.0,74.0,76.0,78.0,80.0,1.0,0.0,68.0,47605.000000,NaN,NaN
26,27,100044,1,73.0,75.0,77.0,79.0,81.0,83.0,85.0,1.0,4.0,75.0,33000.000000,NaN,NaN
31,32,100049,1,57.0,59.0,61.0,63.0,65.0,67.0,69.0,1.0,4.0,63.0,171100.000000,NaN,NaN
36,37,100054,1,53.0,55.0,57.0,59.0,61.0,63.0,65.0,2.0,8.0,55.0,78920.000000,63.0,167353.0
37,38,100055,1,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,12.0,56.0,45011.000000,NaN,NaN
38,39,100056,2,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,4.0,56.0,295000.000000,NaN,NaN
46,47,100064,2,50.0,52.0,54.0,56.0,58.0,60.0,62.0,1.0,2.0,50.0,200.000000,NaN,NaN
51,52,100069,2,60.0,62.0,64.0,66.0,68.0,70.0,72.0,1.0,0.0,62.0,494164.000000,NaN,NaN
52,53,100070,2,38.0,40.0,42.0,44.0,46.0,48.0,50.0,1.0,2.0,38.0,-5320.000000,NaN,NaN
53,54,100071,1,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,10.0,58.0,425000.000000,NaN,NaN
59,60,100077,2,63.0,65.0,67.0,69.0,71.0,73.0,75.0,2.0,6.0,67.0,363500.000000,73.0,345500.0
63,64,100081,1,66.0,68.0,70.0,72.0,74.0,76.0,78.0,2.0,6.0,66.0,800.000000,72.0,375.0
68,69,100086,2,52.0,54.0,56.0,58.0,60.0,62.0,64.0,1.0,2.0,52.0,78300.000000,NaN,NaN
77,78,100095,1,64.0,66.0,68.0,70.0,72.0,74.0,76.0,1.0,4.0,72.0,2085.714286,NaN,NaN
80,81,100098,2,71.0,73.0,75.0,77.0,79.0,81.0,83.0,2.0,4.0,79.0,213000.000000,83.0,207571.0
81,82,100099,2,49.0,51.0,53.0,55.0,57.0,59.0,61.0,1.0,0.0,61.0,102750.000000,NaN,NaN
86,87,100104,2,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,6.0,56.0,93000.000000,NaN,NaN
87,88,100105,2,56.0,58.0,60.0,62.0,64.0,66.0,68.0,1.0,0.0,68.0,271000.000000,NaN,NaN
91,92,101163,1,67.0,69.0,71.0,73.0,75.0,77.0,79.0,2.0,4.0,75.0,200300.000000,79.0,230000.0
92,93,101166,1,57.0,59.0,61.0,63.0,65.0,67.0,69.0,1.0,8.0,61.0,-2000.000000,NaN,NaN
94,95,101256,1,59.0,61.0,63.0,65.0,67.0,69.0,71.0,1.0,6.0,65.0,670655.000000,NaN,NaN
98,99,101375,1,59.0,61.0,63.0,65.0,67.0,69.0,71.0,1.0,0.0,63.0,14000.000000,NaN,NaN
102,103,101546,1,68.0,70.0,72.0,74.0,76.0,78.0,80.0,2.0,6.0,72.0,413372.000000,78.0,287400.0
105,106,101572,2,55.0,57.0,59.0,61.0,63.0,65.0,67.0,2.0,2.0,65.0,110000.000000,67.0,155000.0
112,113,101721,1,61.0,63.0,65.0,67.0,69.0,71.0,73.0,1.0,4.0,69.0,370000.000000,NaN,NaN
119,120,101982,2,55.0,57.0,59.0,61.0,63.0,65.0,67.0,1.0,0.0,61.0,264600.000000,NaN,NaN
121,122,102080,2,69.0,71.0,73.0,75.0,77.0,79.0,81.0,2.0,2.0,77.0,157000.000000,79.0,152500.0
123,124,102264,2,62.0,64.0,66.0,68.0,70.0,72.0,74.0,2.0,6.0,68.0,319700.000000,74.0,363630.0
127,128,102382,2,66.0,68.0,70.0,72.0,74.0,76.0,78.0,2.0,4.0,74.0,432200.000000,78.0,516155.0
130,131,102462,1,63.0,65.0,67.0,69.0,71.0,73.0,75.0,1.0,0.0,65.0,255519.000000,NaN,NaN
134,135,102539,2,51.0,53.0,55.0,57.0,59.0,61.0,63.0,1.0,2.0,61.0,143706.000000,NaN,NaN
137,138,102626,1,76.0,78.0,80.0,82.0,84.0,86.0,88.0,1.0,0.0,78.0,7293.000000,NaN,NaN

In [18]:
cox_d_fpy['wealth_v'] = cox_d_fpy['wealth_v'].round(0)
cox_d_fpy['wealth_f'] = cox_d_fpy['wealth_f'].round(0)

<ipython-input-18-77fc8d04a93c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cox_d_fpy['wealth_v'] = cox_d_fpy['wealth_v'].round(0)
<ipython-input-18-77fc8d04a93c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cox_d_fpy['wealth_f'] = cox_d_fpy['wealth_f'].round(0)

In [19]:
cox_d_fpy['wealth_v']

3        229580.0
7        135700.0
8         15000.0
11       183088.0
12       534100.0
           ...
18453    466400.0
18469    174000.0
18470    159200.0
18471      3654.0
18476    154300.0
Name: wealth_v, Length: 7312, dtype: float64

In [20]:
#remove rows with wealth 0
cox_d_fpy = cox_d_fpy[cox_d_fpy['wealth_v']!=0]

In [21]:
#save the csv
cox_d_fpy.to_csv('cox_d_fpy.csv')

## Adding new columns  males, female, below 65, between 65-75, over 75

In [56]:
cox_fd = pd.read_csv("cox_fd.csv")

In [55]:
cox_fd

,Unnamed: 0,idauniq,ragender,status,time,time_days,age_v,wealth_v,age_f,wealth_f,age_vc,wealth_vc
0,1,100007,1,1,8,2920,58,229580.0,NaN,NaN,1,2
1,2,100016,2,1,2,730,54,135700.0,NaN,NaN,1,2
2,3,100018,1,1,2,730,50,15000.0,NaN,NaN,1,1
3,4,100024,1,1,2,730,79,183088.0,NaN,NaN,3,2
4,5,100025,1,1,8,2920,75,534100.0,NaN,NaN,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...
7214,7215,167766,2,1,0,0,52,466400.0,NaN,NaN,1,3
7215,7216,700108,1,1,4,1460,55,174000.0,NaN,NaN,1,2
7216,7217,700564,2,1,8,2920,52,159200.0,NaN,NaN,1,2
7217,7218,700754,2,1,8,2920,51,3654.0,NaN,NaN,1,1
7218,7219,702643,2,1,6,2190,49,154300.0,NaN,NaN,1,2

In [60]:

for index, row in cox_fd.iterrows():
    if(cox_fd.loc[index,'ragender'] == 1):
       cox_fd.loc[index,'male'] = 1
    else:
       cox_fd.loc[index,'male'] = 0
    if(cox_fd.loc[index,'ragender'] == 2):
       cox_fd.loc[index,'female'] = 1
    else:
       cox_fd.loc[index,'female'] = 0
    if(cox_fd.loc[index,'age_vc'] == 1):
       cox_fd.loc[index,'below_65'] = 1
    else:
       cox_fd.loc[index,'below_65'] = 0
    if(cox_fd.loc[index,'age_vc'] == 2):
       cox_fd.loc[index,'between_65_75'] = 1
    else:
       cox_fd.loc[index,'between_65_75'] = 0
    if(cox_fd.loc[index,'age_vc'] == 3):
       cox_fd.loc[index,'over_75'] = 1
    else:
       cox_fd.loc[index,'over_75'] = 0

In [61]:
cox_fd

,Unnamed: 0,idauniq,ragender,status,time,time_days,age_v,wealth_v,age_f,wealth_f,age_vc,wealth_vc,male,below_65,between_65_75,over_75,female
0,1,100007,1,1,8,2920,58,229580.0,NaN,NaN,1,2,1.0,1.0,0.0,0.0,0.0
1,2,100016,2,1,2,730,54,135700.0,NaN,NaN,1,2,0.0,1.0,0.0,0.0,1.0
2,3,100018,1,1,2,730,50,15000.0,NaN,NaN,1,1,1.0,1.0,0.0,0.0,0.0
3,4,100024,1,1,2,730,79,183088.0,NaN,NaN,3,2,1.0,0.0,0.0,1.0,0.0
4,5,100025,1,1,8,2920,75,534100.0,NaN,NaN,2,3,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7214,7215,167766,2,1,0,0,52,466400.0,NaN,NaN,1,3,0.0,1.0,0.0,0.0,1.0
7215,7216,700108,1,1,4,1460,55,174000.0,NaN,NaN,1,2,1.0,1.0,0.0,0.0,0.0
7216,7217,700564,2,1,8,2920,52,159200.0,NaN,NaN,1,2,0.0,1.0,0.0,0.0,1.0
7217,7218,700754,2,1,8,2920,51,3654.0,NaN,NaN,1,1,0.0,1.0,0.0,0.0,1.0
7218,7219,702643,2,1,6,2190,49,154300.0,NaN,NaN,1,2,0.0,1.0,0.0,0.0,1.0

In [62]:
#save the csv
cox_fd.to_csv('cox_fd_py.csv')